<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="manifest" href="/favicon/manifest.json" />
    <title><%- meta.title %></title>
    <meta name="apple-itunes-app" content="app-id=<%- itunesId %>" />"
    <meta name="author" content="<%- meta.author %>">
    <meta name="description" content="<%- meta.description %>">
    <meta property="og:title" content="<%- meta.title %>">
    <meta property="og:description" content="<%- meta.description %>">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <%- env === 'prod' ? '<link href="/main.css" type="text/css" rel="stylesheet"/>' : '' -%>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div id="react-view"><%- staticHTML %></div>
<script>
    window.__INITIAL_STATE__ = <%- JSON.stringify(initialState) %>;
</script>
<script type="application/javascript" src="/bundle.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</body>
</html>